/* Navbar styling */
.navbar {
    background-color: #f8f9fa; /* Light background color */
    border-bottom: 1px solid #dee2e6;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #2C3E50; /* Dark text */
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar-brand:hover {
    color: #1abc9c; /* Hover effect */
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-nav .nav-item .nav-link {
    color: #2C3E50;
    font-size: 16px;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #1abc9c; /* Same highlight color as sidebar */
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
}
