/* Sidebar styling */
.main-sidebar {
    background-color: #2C3E50;
    padding-top: 20px;
    height: 100vh;
    position: fixed; /* Make it fixed to the left side */
    width: 250px; /* Define sidebar width */
    top: 0;
    left: 0;
}

.main-sidebar .brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-size: 1.25rem;
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: bold;
}

.main-sidebar .sidebar {
    padding: 1rem;
}

.main-sidebar .nav-sidebar > .nav-item {
    margin-bottom: 10px;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #ecf0f1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link:hover {
    background-color: #1abc9c;
    color: #fff;
    transition: background-color 0.3s ease;
}

.main-sidebar .nav-sidebar > .nav-item.active > .nav-link {
    background-color: #16a085;
    color: #fff;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link > p {
    margin-left: 10px;
    margin-bottom: 0;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link .icon {
    margin-right: 10px;
    font-size: 18px;
}

body {
    margin-left: 250px; /* To make space for the sidebar */
}

